* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: manrope;
}

.container {
  max-width: 1170px;
  margin: auto;
  width: 100%;
  padding: 0 15px;
}

header {
  height: 245px;
}

header .top-head {
  background-color: #4e7302;
}

header .top-head .top-nav {
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top-head .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

header .top-head .social .fa {
  color: #ffff;
  font-size: 20px;
}

header .top-head .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

header .top-head .contact div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
}

header .top-head .contact div .fa,
header .top-head .contact div .contact-text {
  color: #ffff;
}

.mid-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 114px;
}

.mid-head .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
}

.logo {
  height: 42px;
}

.logo .fa {
  font-size: 30px;
  position: absolute;
  display: none;
  top: 45px;
  right: 10px;
}

.register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.login .fa {
  color: #4e7302;
  font-size: 21px;
  padding: 15.5px 16.25px;
  background-color: #f2f4ef;
  border-radius: 50%;
}

.sm-text {
  font-size: 0.87rem;
  font-weight: 400;
  font-family: manrope;
  line-height: 21px;
}

.b-text {
  font-size: 0.87rem;
  font-weight: 700;
  font-family: manrope;
}

.fa-search {
  padding: 16.25px;
  background-color: #fab73a;
  border-radius: 50%;
}

.bottom-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 56px;
  list-style: none;
}

.bottom-nav li a {
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 27px;
  color: black;
}

.bottom-nav .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9.5px;
  font-size: 1.125rem;
  font-weight: 500;
}

.bottom-nav .right .fa {
  font-size: 21px;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 540px;
  background: url(../images/banner.png);
}

.feature-head {
  font-size: 3.5rem;
  max-width: 570px;
  font-family: rubik;
  line-height: 67.2px;
  font-weight: 400;
}

.f-content {
  font-size: 1.25rem;
  font-weight: 400;
  max-width: 515px;
  margin-top: 16px;
  line-height: 170%;
}

.client-comment {
  min-height: 1584px;
  height: auto;
  text-align: center;
  margin-top: 81px;
}

.comment-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 570px 570px;
      grid-template-columns: 570px 570px;
  grid-gap: 101px 30px;
}

.cards {
  position: relative;
  max-width: 530px;
  width: 100%;
  min-height: 370px;
  height: auto;
  border: 1px solid #f3f3f3;
  border-radius: 16px;
}

.cards .fa {
  font-size: 30px;
  color: #e3e9d7;
  text-align: center;
  width: 100%;
  margin-top: 36px;
}

.cards .comment {
  font-size: 1.25rem;
  line-height: 32px;
  font-weight: 400;
  padding: 24px;
}

.cards .name {
  font-size: 1.125rem;
  font-weight: 700;
}

.cards .job {
  font-weight: 400;
  padding: 8px;
}

.cards img {
  position: absolute;
  margin-top: 14px;
  margin-left: -39px;
}

.ny-container {
  max-width: 1170px;
  border-radius: 16px;
  width: 100%;
  height: auto;
  background-color: #eaede4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ny-container .sm-text {
  font-weight: 700;
  opacity: 50%;
  font-size: 0.87rem;
  line-height: 26px;
}

.ny-container .b-text {
  font-size: 2.87rem;
  font-weight: 400;
  letter-spacing: -0.01rem;
  line-height: 120%;
}

.ny-container .m-text {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 150%;
}

.ny-container button {
  padding: 17.5px 24px;
  background-color: #fab73a;
  border-radius: 16px;
  margin-top: 56px;
}

.nytext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-6 {
  background-color: #eaede4;
  margin-top: 96px;
  height: 472px;
}

.row {
  height: 383px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 121px;
}

.row .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 121px;
}

.row img {
  height: 42px;
}

.row p {
  margin: 24px 0;
  width: 370px;
  line-height: 29px;
}

.row h4 {
  font-size: 1.125rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row li {
  line-height: 37px;
}

.row ul {
  list-style: none;
}

.row .social span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.row .social span .fa {
  font-size: 20px;
  margin-top: 20px;
}

.footer-copyright {
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.87rem;
}

@media screen and (max-width: 980px) {
  html {
    font-size: 87%;
  }
  .container {
    overflow: hidden;
  }
  header {
    height: auto;
  }
  .top-head {
    display: none;
  }
  .mid-head .right {
    display: none;
  }
  .logo .fa {
    display: inline-block;
    cursor: pointer;
  }
  .nav-list {
    visibility: hidden;
    display: none;
    position: absolute;
    padding-top: 35px;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: black;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-list li a {
    color: #ffff;
  }
  .logo .fa:hover .nav-list:hover {
    display: block;
    visibility: visible;
  }
  .bottom-nav .right {
    display: none;
  }
  .feature {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-height: 540px;
    padding: 20px;
    background: url(../images/banner.png);
    opacity: 90%;
    background-position: 90%;
    background-size: cover;
  }
  .feature .feature-head {
    max-width: 75%;
  }
  .comment-container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    gap: 20px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .comment-container img {
    bottom: 5px;
  }
  .ny-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
  .ny-container img {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    position: relative;
  }
  .ny-container .image-1 {
    margin: 0;
    padding: 0;
    top: 0;
  }
  .ny-container .image-2 {
    bottom: -50px;
  }
  .ny-container .b-text {
    font-size: 1.67rem;
    line-height: 320%;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
    background-color: #eaede4;
    background-size: cover;
  }
  .row .footer-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 85px;
  }
  .row .column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 100px;
  }
  .footer-copyright {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 570px) {
  .feature {
    background-position: 60%;
  }
  .feature-text {
    width: 80%;
  }
  .feature-head {
    font-size: 3.2rem;
    width: 92vw;
  }
  .f-content {
    font-weight: 500;
    min-width: 90vw;
  }
  .comment-container img {
    display: none;
  }
  .overview {
    display: none;
  }
  .column {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row .footer-logo {
    gap: 1px;
  }
  .footer-copyright .first {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */